<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
  <h3>Welcome</h3>
  </div>
  <div class="col-md-6">
      <h3>Name- Harsh Kumar</h3>
      </div>
  </div>
  <p><b>Hi Reviewer: Please find the answers for the questions asked as mentioned against each number</b></p>
  <p>Answers</p>
  <ol>
    <li><app-first></app-first></li>
    <li><app-second></app-second></li>
    <li><app-third></app-third></li>
    <li><app-fourth></app-fourth></li>
    <li><app-fifth></app-fifth></li>
    <li><app-sixth></app-sixth></li>
  </ol>
</div>
