<p>Difference between 'let' and 'this'</p>

<table style="border: 1px solid grey">
    <thead>
        <th>LET</th>
        <th>THIS</th>
    </thead>
    <tbody>
        <tr>
            <td>let variable = 123;<br>if( true )<br>let variable = 234 <br>console.log(variable)<br><br>The output will be 123 as the variable declared <br>inside true block is having the same
            name as in global but still we can initialize it<br><br></td>
            <td>THIS is useful in components where you want to access the properties of that component</td>
        </tr>
    </tbody>
</table>